<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4 mb-md-0">
                <h4 class="mb-3">Радуга</h4>
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <h5 class="mb-3">Категории</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" href="#">Рассылки</a></li>
                    <li><a class="text-white-50" href="#">Телеграм боты</a></li>
                    <li><a class="text-white-50" href="#">Полезные утилиты</a></li>
                    <li><a class="text-white-50" href="#">Веб-приложения</a></li>
                    <li><a class="text-white-50" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
                <h5 class="mb-3">Дополнительно</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="mb-3">О нас</h5>
                <ul class="list-unstyled">
                    <li><a class="text-white-50" href="{% url 'catalog:contacts' %}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>