{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header py-5 bg-light">
    <div class="container">
        <h1 class="display-4 text-center">Подробнее о выбранном продукте</h1>
    </div>
</div>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">{{ object.name }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ object.description }}</p>
                    <p class="card-text"><strong>Категория:</strong> {{ object.category }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ object.price }}</p>
                    <p class="card-text"><strong>Последнее обновление:</strong> {{ object.last_update }}</p>
                    <div class="d-flex justify-content-end">
                        <div class="btn-group">
                            {% if perms.catalog.can_edit_category and perms.catalog.can_edit_description and perms.catalog.can_change_published or user == object.owner %}
                            <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-outline-primary">Изменить</a>
                            <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-outline-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}